#hero {
    background:linear-gradient( rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.35),rgba(0,0,0,0)),
        url('./assets/shelf.jpg')no-repeat;
    background-size: cover; 
    height: 100vh;
    z-index: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cta {
    color: $white;
    font-family: $cassandra;
    font-size: 4rem;
    margin-bottom: 0;
}

#subtitle {
    font-family: $gothamMedium;
    color: $white;
    font-size: 2rem;
    margin-top: 0;
}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
        background-color: $blue;
        color: $white;
        padding: 0.75rem 1.5rem;
        border-radius: 25px;
        border: none;
        font-family: $gothamMedium;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
}

.home-img {
    width: 100%;
    height: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    width: 90%;
    font-family: $gothamMedium;
}

.about-header {
    color: $blue;
    font-size: 2rem;
}

.about-paragraph {
    color: $pink;
    font-size: 1.5rem;
}

#hours-container{
    color: $white;
    font-family: $gothamMedium;
    background-color: $pink;
    width: 80%;
    border-radius: 12px;
    padding: 12px;

    p {
        font-size: 1.15rem;
    }
}