.menu-section {
    text-align: center;
    background: url('./assets/photo-1622405207562-735fa49ff7f7.avif') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 1rem 0;
}

#menu-title {
    @extend %title;
    color: $blue;
    &::after {
        background: $white;
    }
}

#menu-container {
    width: 85%;
    background: $containerBlack;
    padding: 2rem 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    h1 {
        color: $white;
        font-family: $cassandra;
        font-size: 24px;
    }
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.menu-category {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    img {
        height: 300px;
        width: 300px;
    }
}

.item-description {
    color: $white;
    font-family: $gothamMedium;
    display: flex;
    flex-direction: column;
    gap: 2px;
    p {
        margin: 0;
    }
    .item-title {
        font-family: $cassandra;
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    #menu-container {
        width: 100vw;
        padding: 1rem 0;
        border-radius: 0;
    }
}