.menu-section {
    text-align: center;
    background: url('../assets/photo-1622405207562-735fa49ff7f7.avif') no-repeat;
    /* background: url('../assets//ariana-suarez-W1Q6TAotxfY-unsplash.jpg') no-repeat; */
    background-size: cover;
    margin: 0;
    padding: 1rem 0;
}

// this @extends .sectio-title in new-home.scss
#menu-title {
    // @include title(yellow, $white)
    @extend %title;
    color: yellow;
    &::after {
        background: $white;
    }
}

#menu-container {
    width: 75%;
    background: $containerBlack;
    padding: 2rem 1rem;
    border-radius: 8px;
}

#menu-grid {
    display: grid;
    /* width: 75%; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
}

.menu-item {
    img {
        height: 300px;
        width: 300px;
    }
}

.item-description {
    color: $white;
    font-family: $gothamMedium;
}