@font-face {
    font-family: 'Gotham Medium';
    src: url('../assets/Gotham\ Medium\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cassandra';
    src: url('../assets/cassandra-font/CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
}

:root {
    --pink: #EC6792;
    --blue: #3EC0E4;
    --black: rgba(0, 0, 0, 0.9);
}

footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    color: white;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 1.25rem;
    gap: 1rem;
}

.attribution {
    color: white;
    text-decoration: none;
}

.attribution:hover {
    color: var(--pink);
    text-decoration: underline;
}

footer p {
    margin: 0;
}

.fa-github-square {
    color: white;
    font-size: 32px;
}

.fa-github-square:hover {
    color: var(--pink);
}

#attribution-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 12px;
}

#attribution-grid a {
    font-size: 12px;
}