@font-face {
    font-family: 'Gotham Medium';
    src: url('../assets/fonts/Gotham\ Medium\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cassandra';
    src: url('../assets/cassandra-font/CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
}

:root {
    --pink: #EC6792;
    --blue: #3EC0E4;
}

#hero {
    background:linear-gradient( rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.35),rgba(0,0,0,0)),
        url('../assets/shelf.jpg')no-repeat;
    background-size: cover; 
    height: 100vh;
    z-index: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cta {
    color: white;
    font-family: 'Cassandra', sans-serif;
    font-size: 4rem;
    margin-bottom: 0;
}

#subtitle {
    font-family: 'Gothic Medium', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 0;
}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#message button {
    background-color: var(--blue);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-family: 'Gotham Medium', sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
}

#message button:hover {
    background-color: white;
    color: var(--blue);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    font-family: 'Cassandra', cursive;
    color: var(--blue);
    margin-bottom: 1.5rem;
    position: relative;
}

.section-title::after {
    content: "";
    top: 110%;;
    right: 10%;
    width: 50%;
    height: 2px;
    background: var(--pink);
    position: absolute;
}

.home-img {
    width: 100%;
    height: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    width: 90%;
    font-family: 'Gotham Medium', sans-serif;
}

.about-header {
    color: var(--blue);
    font-size: 2rem;
}

.about-paragraph {
    color: var(--pink);
    font-size: 1.5rem;
}

#hours-container {
    color: white;
    font-family: 'Gotham Medium', sans-serif;
    background-color: var(--pink);
    width: 80%;
    border-radius: 12px;
    padding: 12px;
}

#hours-container p {
    font-size: 1.5rem;
}