@import "theme";

footer {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    color: $white;
    font-family: $gothamMedium;
    font-size: 1.25rem;
    gap: 1rem;
    p {
        margin: 0;
    }
}

.attribution {
    color: $white;
    text-decoration: none;
    &:hover {
        color: $pink;
        text-decoration: underline;
    }
}

.fa-github-square{
    color: $white;
    font-size: 32px;
    &:hover {
        color: $pink;
    }
}

#attribution-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 12px;
    a {
        font-size: 12px;
    }
}